@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
body {
 display: grid;
 grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
 font-family: 'Roboto Slab', serif;
 color: black;
 font-size: 14px;
 background-image: linear-gradient(to bottom, #2C3531, #116466);
 height: 100%;
 background-repeat: no-repeat;
 background-attachment: fixed;
}
#header {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-column-start: 1;
  grid-column-end: 13;
  background-image: linear-gradient(to top, #3B945E, #57BA98, #65CCB8, #57BA98, #3B945E);
  margin: .5rem;
  min-height: 10rem;
  border-radius: 10px;
}
#logoArea{
  grid-column-start: 1;
  grid-column-end: 5;
}
#logoArea img {
  max-width: 15rem;
  width: 100%;
}
#userInfoArea{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-column-start: 5;
  grid-column-end: 9;
  padding: 1rem;
  align-items: flex-end;
}
#userInfoArea h5 {
  margin: 0;
}

#menuArea{
  display: flex;
  flex-direction: row;
  grid-column-start: 1;
  grid-column-end: 9;
  overflow: hidden;
}
.menuItem{
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: .5rem;
  transition-duration: .5s;
}
.menuItem:hover{
  background-color: #3B945E;
}
#menuJobs{
  border-left: 1px solid black;
  border-right: 1px solid black;
}
#menuEmployees {
  border-left: 1px solid black;
}

#contentList {
  grid-column-start: 1;
  grid-column-end: 13;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: .5rem;
  min-height: 10rem;
  border-radius: 10px;
  background-image: linear-gradient(to top, #3B945E, #57BA98, #65CCB8, #57BA98, #3B945E);

}

#contentDetails {
  grid-column-start: 1;
  grid-column-end: 13;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1rem;
  background-image: linear-gradient(to top, #3B945E, #57BA98, #65CCB8, #57BA98, #3B945E);
  margin: .5rem;
  border-radius: 10px;
  min-height: 10rem;
}
.listArea{
    width: 100%;
}
.listHeader{
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}
.listSearchArea{
  width: 100%;
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
.listInputBlock{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.listSearchArea label{
  display: inline-block;
  min-width: 3.5rem;
  text-align: right;
}
.listSearchArea input{
  width: 100%;
}
.listFilterArea label{
   width: 100%;
  text-align: right;

}
#listTableArea{
  width: 100%;
  overflow: auto;
  border: 1px solid black;
  border-radius: 10px;
}
#titleRow{
  height: 2rem;
}
#tableTitleDiv{
  width: 100%;
  display: flex;
  flex-direction: row;
}
#addNew{
  width: 20%;
  min-width: 10rem;
  border-radius: .25rem;
  border: 1px solid black;
  padding: .2rem;
  background-color: #258C78;
  transition-duration: .5s;
}
#addNew:hover{
  background-color: #65CCB8;
}

#tableTitle{
  padding-top: .2rem;
  width: 100%;
  text-align: center;
}


table {
  width: 100%;
  background-color: black;
  box-sizing: border-box;
  border-radius: 10px;
}

tr{
  background-color: #65CCB8;
}
tr:hover{
  background-color: #85ECD8;
}
#titleRow, #headerRow {
  background-color: #359C88;
}

input {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    background-color: #65CCB8;
}

#contentDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.detailBlock {
    background-color: #359C88;
    box-sizing: border-box;
    padding: 1rem;
    border: 1px solid #2C3531;
    border-radius: .5rem;
}

.detailInnerBlock input {
    width: 99%;
    background-color: #65CCB8;
}
.detailInnerBlock textarea {
    width: 99%;
    height: 5rem;
    background-color: #65CCB8;
}

#detailHeader, #detailButtons, #detailChildBlock {
    grid-column-start: 1;
    grid-column-end: 3;
}


#showAssigned, #showInactive, #showEmpty{
    width: 1rem;
}

.detailInputBlock{
    display: flex;
    flex-direction: row;
}

#detailButtons{
    display: flex;
    flex-direction: row;
    align-content:space-around;
}

button {
    width: 100%;
    min-width: 10rem;
    min-height: 2rem;
    border-radius: .25rem;
    border: 1px solid black;
    padding: .2rem;
    background-color: #258C78;
    transition-duration: .5s;
    font-weight: bold;
}
    button:hover {
        background-color: #65CCB8;
    }
@media only screen and (min-width: 740px) {
}
